# Dependências
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Diretórios de saída
dist/
build/
coverage/

# Cypress
cypress/videos/
cypress/screenshots/

# Configurações do sistema/IDE
.env
.env.*
.DS_Store
.vscode/
.idea/

# Outros
package-lock.json
pnpm-lock.yaml
yarn.lock